:root {
    --blue: #405060;
    --yellow: #ffab08;
    --orange: #ff7020;
    --orange-100: #ff5c00;
    --dark: #000;
    --dark-100: #222;
    --light: #ffffff;
    --light-200: #f9f9f9;
    --light-100: #f2f2f3;
    --grey: #f5f5f5;
    --grey-o20: rgba(245, 245, 245, 0.8);
    --grey-100: #666;
    --error: #fc2403;
}
